
.dish-card {
    min-width: 25vw;
    min-height: 55vh;
}


.item-description, .item-content h3 {
    max-width: 25vw;
}


.item-food {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    background: #FFFDDE;
    box-shadow: 0 0 5px;
    border-radius: 15px;
}

.item-food .item-content h3 {
    font-size: 28px;
    margin-bottom: 50px;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.item-food .item-content {
    margin: 20px;
}

.item-food .image img {
    max-width: 300px;
    margin: 20px;
    border-radius: 15px;
}
/* CSS Button View More */

.button {
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 9px 15px;
    font-family: 'Quicksand';
    display: inline-block;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #ffce45;
    text-decoration: none;
}

.button:hover {
    color: #fff;
}