version: '3'
services:

  vue-client:
    container_name: vue-client
    image: node:16
    build:
      context: ./frontend/
      dockerfile: Dockerfile
    volumes:
      - ./frontend/src/:/app/
    ports:
      - published: 80
        target: 8080
    command: bash -c "npm install && npm run serve"
    depends_on:
      - flask-api

  flask-api:
    container_name: flask-api
    image: python:3.9
    restart: always
    build:
      context: ./backend/
      dockerfile: Dockerfile
    volumes:
      - ./backend/src/:/app/
    ports:
      - published: 5000
        target: 5000
    command: python3 main.py
    depends_on:
      - mongodb
    links:
      - "mongodb"

  mongodb:
    image: mongo
    container_name: mongodb_your_meal
    hostname: mongodb
    ports:
      - 27017:27017
    volumes:
      - data:/data/
      - ./database/initdb.js:/docker-entrypoint-initdb.d/init-db.js:ro
    environment:
      MONGO_INITDB_DATABASE: yourMeal

volumes:
  data: {}

networks:
  default:
    name: flask-mongodb-network
