<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/static/Backbone.js"></script>
    <title>Import the Dishes</title>
</head>

<body>
    <div id="data-container">
        <!-- {% if data %}
        {% for value in data %}
        <p>Name</p>
        <input readonly /> {{ value['name'] }}
        <p>Ingredient</p>
        <input readonly /> {{ value['ingredients'] }}
        <img src="{{ value['image']}}">
        {% endfor %}
        {% else %}
        <p>No Data!</p>
        {% endif %} -->
    </div>
</body>
<script>
    $(document).ready(function () {
        $.get('http://localhost:5000/dishes/', function (res) {
            res.forEach((e) => spawnNewObject(e))
        });
    })
</script>

</html>