.custom-dish-card {
  margin: 2rem 0 2rem 0;
  padding: 2rem;
  width: 75vw;
}

.custom-card-img {
  width: 18rem;
}


/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .custom-card-img {
    width: 40vw;
  }
}


.custom-card-text {
  max-width: 40vw;
}